html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: '"PingFang TC", "微軟正黑體", sans-serif';
  font-size: 16px;
  line-height: 1.75em;
  color: rgba(0, 0, 0, 0.65);
  background-color: '#f3f3f1';
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  color: 'inherit';
  text-align: left;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.87);
}
h2 {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.87);
}
h3 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.65);
}
h4 {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.65);
}
h5 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
}
h6 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}

p {
  margin: 0 0 1em;
  line-height: 1.75em;
}

pre {
  font-family: '"PingFang TC", "微軟正黑體", sans-serif';
}

img {
  width: 100%;
}


a {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}

a:hover,
a:active,
a:focus,
a:visited {
  color: rgba(0, 0, 0, 0.65);
}

a,
a:visited,
a:hover,
a:active,
a:focus,
input,
select,
textarea {
  outline: none;
  text-decoration: none;
}

/* alignment */
::selection {
  background: #fa8b00;
  color: white;
}

/* Form */
textarea {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 8px 10px;
  width: 100%;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #cccccc;
}

textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.43);
}

/* override bootstrap input button font size */
input,
button {
  font-size: 16px;
}

.btn-default {
  background: transparent;
}
