{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-restricted-globals": "error",
    "no-mixed-operators": "off",
    "no-underscore-dangle": "off",
    "no-confusing-arrow": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/sort-comp": "off",
    "jsx-a11y/media-has-caption": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
    "react/prop-types": "off",
    "arrow-body-style": "off",
    "react/no-danger": "off",
    "camelcase": "off",
    "react/no-did-update-set-state": "off"
  }
}
